/* CSS Document */
*{
	margin:0;
	padding:0;
}
section{
	border:solid 1px white;
}
body{
	overflow:hidden;/* to disable browser scroll bar*/
	margin:0;
	background:url(../assets/bg_atown.png) fixed 0 0 no-repeat;
	background-size:cover;
}
h1{
	color:#fff;
/*	font-size: 70px;*/
	font-family:"Lato","HelveticaNeue",Helvetica,Arial,sans-serif;
/*	font-weight:300;
	text-align:center;*/
}
h2{
	color:#fff;
/*	font-size:22px;*/
	font-family:"Lato","HelveticaNeue",Helvetica,Arial,sans-serif;
/*	font-weight:300;
	text-align:center;
	line-height:28px;*/
}
p{
	color:#fff;
	font-family:"Lato","HelveticaNeue",Helvetica,Arial,sans-serif;
}
a{
	color:#fff;
	text-decoration:none;
}
li{
	list-style:none;
}
.container{
	margin:0 auto;
}
#header{
	background-color:rgba(20,20,20,0.8);
	position:fixed;
	left:0;
	top:0;
	height:62px;
	width:100%;
	z-index:9999;
	box-shadow:0px 3px 2px rgba(0,0,0,0.15);
}
.navbar{
	margin-top:24px;
}
.nav{
	width:960px;
	margin:0px auto;
/*	padding:24px 20px 20px 20px;*/
}
.nav>li{
	margin-top:24px;
	padding:24px 20px 20px 20px !important;
}
.nav>li{
	display:inline;
	list-style:none;
}
.dropdown{
	position:relative;
	width:auto;
}
.dropdown-menu{
	display:none;
    background-color:#333;
	position:absolute;
	top:62px;
	left:0;/*important to give top and left value. if no value, chrome work well but FF, Opera, IE shit. and after mouseover, The left value of dropdown menu box goes -408; keep left being 0 to make sure the box always be right place*/
	margin:0px 0 0 24px;
	padding:0;
}
.dropdown-menu li:nth-child(1){
	border-bottom:#FFF solid 2px;
}
.nav li, .nav a{
	font:100 16px/100% Verdana,Geneva,sans-serif;
	color:#eee;
	text-decoration:none;
	text-shadow:0 -1px 0 #BBB;
	padding:0 10px 0 30px;
	text-align:center;
}
.nav a:hover{
	color:#EC4D00;
	text-shadow:0 -1px 0 #F60;
}
.dropdown-menu li,.dropdown-menu a{
	padding:10px 15px 10px 15px;
	margin:auto 1px;
}
#container{
	position:relative;
	top:62px;
	left:0;
}
#container section{
	position:absolute;
	z-index:2000;
}
#home-txt{
	margin:12% 20% 0 20%;
	padding:3% 0;               /* these 2 lines above makes text vertical centered */
	border-top:dashed 1px #fff;
	border-bottom:dashed 1px #fff;
}
section#home p{
	margin:15px auto;
	width:9%; /*assign the width by persent to make responsive web page*/
	height:7%;
/*	border:solid 1px #fff;
	-webkit-border-radius:3px;
	border-radius:3px;*/
}
#resume{
	position:absolute;
	padding:12px 24px;
	font-weight:400;
	font-size:1em;
	overflow:hidden;
	border:solid 1px #fff;
	-webkit-border-radius:3px;
	border-radius:3px;
	-webkit-transition:background-color 1s;
	transition:background-color 1.5s;
}
a#resume:hover{
	background-color:#ccc;
	-moz-opacity:0.8;
	-khtml-opacity:0.8;/*#works in Safari 1.x*/
	opacity:0.8;
	filter:alpha(opacity=80);
	color:rgba(0,0,0,0.7);/*make the text transparency, it may not obvious now. when the background image keep changing, it shows*/
}
#home{
	top:-210px;
	left:-320px;
	height:580px;
	width:1440px;
}
#home h1{
	font-size:70px;
	font-weight:300;
	text-align:center;
}
#home h2{
	font-size:22px;
	font-weight:300;
	text-align:center;
	line-height:28px;
}
#me{
	top:370px;
	left:-320px;
	width:1440px;
	height:580px;
}
.career{
	width:500px;
	height:400px;
	background:url(../assets/career-subway.png) center no-repeat;
	background-color:rgba(0,0,0,0.7);
	position:absolute;
	top:100px;
	left:150px;
}
#aboutme{
	float:right;
	width:50%;
}
.career{
	margin:0 10%;
}
.info{
	color:white;
	font-size:10px;
	font-family:"Lato","HelveticaNeue",Helvetica,Arial,sans-serif;
	padding-left:20px;
}
.dot{
	background:url(../assets/career-dot.png) left no-repeat;
}
.point{
	position:absolute;
	top:40px;
	left:244px;
}

	