/* CSS Document */
*{
	margin:0;
	padding:0;
}
section{
/*	weight:100%;*/
	height:580px;
}
body{
/*	overflow:hidden;/* to disable browser scroll bar*/
	margin:0;
	background:url(../assets/bg_atown.png) fixed 0 0 no-repeat;
	background-size:cover;
	font-family:"Lato","HelveticaNeue",Helvetica,Arial,sans-serif;
	color:#fff;
}
h1{
/*	font-size: 70px;*/
/*	font-weight:300;
	text-align:center;*/
}
h2{
/*	font-size:22px;*/
/*	font-weight:300;
	text-align:center;
	line-height:28px;*/
}
a{
	color:#fff;
	text-decoration:none;
}
li{
	list-style:none;
}
.container{
	margin:0 auto;
}
#header{
	background-color:rgba(20,20,20,0.8);
	position:fixed;
	left:0;
	top:0;
	height:62px;
	width:100%;
	z-index:9999;
	box-shadow:0px 3px 2px rgba(0,0,0,0.15);
}
.navbar{
	margin-top:24px;
}
.nav{
	width:960px;
	margin:0px auto;
/*	padding:24px 20px 20px 20px;*/
}
.nav>li{
	margin-top:24px;
	padding:24px 20px 20px 20px !important;
}
.nav>li{
	display:inline;
	list-style:none;
}
.dropdown{
	position:relative;
	width:auto;
}
.dropdown-menu{
	display:none;
    background-color:#333;
	position:absolute;
	top:62px;
	left:0;/*important to give top and left value. if no value, chrome work well but FF, Opera, IE shit. and after mouseover, The left value of dropdown menu box goes -408; keep left being 0 to make sure the box always be right place*/
	margin:0px 0 0 24px;
	padding:0;
}
.dropdown-menu li:nth-child(1){
	border-bottom:#FFF solid 2px;
}
.nav li, .nav a{
	font:100 16px/100% Verdana,Geneva,sans-serif;
	color:#eee;
	text-decoration:none;
	text-shadow:0 -1px 0 #BBB;
	padding:0 10px 0 30px;
	text-align:center;
}
.nav a:hover{
	color:#EC4D00;
	text-shadow:0 -1px 0 #F60;
}
.dropdown-menu li,.dropdown-menu a{
	padding:10px 15px 10px 15px;
	margin:auto 1px;
}
#container{
	position:relative;
	top:62px;
	left:0;
}
#container section{
	z-index:2000;
}
#home{
	margin-top:12%;
}
#home-txt{
	margin:12% 20% 0 20%;
	padding:3% 0;               /* these 2 lines above makes text vertical centered */
	border-top:dashed 1px #fff;
	border-bottom:dashed 1px #fff;
}
section#home p{
	margin:15px auto;
	width:9%; /*assign the width by persent to make responsive web page*/
	height:7%;
/*	border:solid 1px #fff;
	-webkit-border-radius:3px;
	border-radius:3px;*/
}
#resume{
	position:absolute;
	padding:12px 24px;
	font-weight:400;
	font-size:1em;
	overflow:hidden;
	border:solid 1px #fff;
	-webkit-border-radius:3px;
	border-radius:3px;
	-webkit-transition:background-color 1s;
	transition:background-color 1.5s;
}
a#resume:hover{
	background-color:#ccc;
	-moz-opacity:0.8;
	-khtml-opacity:0.8;/*#works in Safari 1.x*/
	opacity:0.8;
	filter:alpha(opacity=80);
	color:rgba(0,0,0,0.7);/*make the text transparency, it may not obvious now. when the background image keep changing, it shows*/
}
#home h1{
	font-size:70px;
	font-weight:300;
	text-align:center;
}
#home h2{
	font-size:22px;
	font-weight:300;
	text-align:center;
	line-height:28px;
}
.career{
	width:1010px;
	height:400px;
	background:url(../assets/career-subway.png) left center no-repeat;
	background-color:rgba(0,0,0,0.7);
	margin:100px auto;
	position:relative;
}
#aboutme{
	width:400px;
	float:right;
	margin:80px 80px auto 0;
}
#aboutme h2{
	font-size:22px;
}
.info{
	color:white;
	font-size:10px;
	font-family:"Lato","HelveticaNeue",Helvetica,Arial,sans-serif;
	padding-left:20px;
}
.dot{
	background:url(../assets/career-dot.png) left no-repeat;
}
.point1{
	position:absolute;
	top:40px;
	left:229px;
}
.point2{
	position:absolute;
	top:125px;
	left:229px;
}
.point3{
	position:absolute;
	top:148px;
	left:123px;
	text-align:right;
	width:95px;/*different position in FF,Opera,IE cause browsers show different word space */
}
.point3 .info{
	padding:0 20px 0 0;
}
.point3 .dot{
	background:url(../assets/career-dot.png) right no-repeat;
}
.point4{
	position:absolute;
	top:252px;
	left:205px;
}
.point5{
	position:absolute;
	top:206px;
	left:38px;
	font-size:10px;
}
.point5 .info, .point6 .info{
	padding:20px 0 0 0;
}
.point5 .dot{
	background:url(../assets/career-dot.png) top right no-repeat;
}
.point6{
	position:absolute;
	top:241px;
	left:107px;
}
.point6 .dot{
	background:url(../assets/career-dot.png) top no-repeat;
}
.point7{
	position:absolute;
	top:205px;
	left:205px;
}
.point7 .info, .point8 .info, .point9 .info{
	padding:0 0 15px 15px;
}
.point7 .dot, .point8 .dot, .point9 .dot{
	background:url(../assets/career-dot.png) left bottom no-repeat;
}
.point8{
	position:absolute;
	top:205px;
	left:325px;
}
.point9{
	position:absolute;
	top:248px;
	left:370px;
}
/* section gallery style */
.accordian{
	overflow:hidden;
	margin:0 auto;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}
/*A small hack to prevent flickering on some browsers*/
.accordian ul {
	width: 2000px;
	/*This will give ample space to the last item to move
	instead of falling down/flickering during hovers.*/
}
.accordian li {
	position: relative;
	display: block;
	width: 269px;
	float: left;
	
	border-left: 1px solid #888;
	
	box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	
	/*Transitions to give animation effect*/
	transition: all 0.8s;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	/*If you hover on the images now you should be able to 
	see the basic accordian*/
}
/*Reduce with of un-hovered elements*/
.accordian ul:hover li {width: 120px;}
/*Lets apply hover effects now*/
/*The LI hover style should override the UL hover style*/
.accordian ul li:hover {width: 870px;}


.accordian li img {
	display: block;
}
/*Image title styles*/
.title {
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 0; bottom: 0;	
	width: 640px;
}
.title span {
	display: block;
	padding: 20px;
	font-size: 16px;
}